*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
header{
    height: 94px;
    width: 100%;
    background-color: #562EFF;
}
/* container-section */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
/* player-section */
.player-blog-section{
    width: 870px;
    height: 679px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
}
.player-section h1{
    padding: 3px 0 40px 0;
    font-size: 24px;
    color: #562EFF;
}
.player-section h1:hover{
    text-decoration: underline;
}
/* all-players */
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
            /* player */
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player h3{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    margin-top: 30px;
}
hr:hover{
    border: 1px solid blue;
    outline: none;
}
/* blog-section  */

.blog-section h1{
    color: blue;
    margin:30px 0 40px 0;
    font-size: 24px;
}
.blog-section h1:hover{
    text-decoration: underline;
}
.all-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 26px 40px;
}
.blogs{
    display: flex;
    justify-content: space-between;
}
.blog-cover img{
height: 117px;
width: 177px;
}
.blog-info{
    margin: 16px;
}
.blog-info h3{
    font-size: 20px;
}
.blog-info p{
    font-size: 16px;
    color: blue;
}
.blog-info p:hover{
    text-decoration: underline;
}
.by{
    color: orange;
}
/* course-section */
.course-section{
    width: 870px;
    height: 362px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: 50px;
}
/* course-section */
.course-section{
    padding: 33px;
}
.course-section h1{
    color: blue;
    font-size: 24px;
}
.course-section h1:hover{
    text-decoration: underline;
}